@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
html { font-family: 'Inter var', sans-serif; }}

body {
  font-size: large;
  margin: 3vw 5vw;
}

h1 {
  text-align: center;
  padding: 2% 0;
  font-weight: 200;
  font-size:3em;
}

.h2center{
  text-align: center;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 25vw;
  border-radius: 50%;
}

.figure, .narrow-figure{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.bio {
  padding: 2% 0 3%;
  line-height: 1.0;
  font-weight: 300;
  text-align: center;
}

li{
  margin: 1.0em 0;
}

footer {
  margin-top: 2em;
  border-top: 0.1em solid #C0C0C0;
  font-size: 0.8em;
  font-weight: 300;
}

@media screen and (min-width: 630px) {
  /* comes into effect for screens larger than or equal to 630 pixels */
  body {margin: 3vw 10vw;
  }
  .headshot{
    max-width: 6.5cm;
  }
  .bio{
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
